<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shoey | CS project</title>

    <!-- Favicon-->
	<link rel="icon" href="../public/img/favicon.ico" type="image/icon type">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- BASE CSS -->
    <link href="../public/css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="../public/css/style.css" rel="stylesheet">

	<link href="../public/css/footer.css" rel="stylesheet">
	<link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/about.css" rel="stylesheet">
    <script src="../public/js/handlers/itemsHandler.js"></script>
    <script src="../public/js/handlers/requestsHandler.js"></script>

</head>

<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand flip" href="/">Shoey</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
						aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" href="/women">Women</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/men">Men</a>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
					</ul>
					<form class="d-flex" role="search">
						<input id="searchInput" class="form-control me-2" type="search" placeholder="Search"
							   aria-label="Search">
						<button class="btn btn-outline-primary" type="button"
								onclick="window.location.href = '/items?searchText='+$('#searchInput').val()">Search
						</button>
					</form>
					<button class="btn btn-outline-primary" type="button" onclick="window.location = '/login'">Login
					</button>
	
				</div>
			</div>
		</nav>
	</header>
 

	<!-- /header -->
	

	<main class="bg_gray">
        <div class="container-bg">
			<div class="container" >
				<div class="row justify-content-center text-center box">
					<div class="col-xl-7 col-lg-9"></div>
						<h2 class="head">Who are we and what do we sell?</h2>
                        <div class = "text-about col-md-7 order-md-1">
						    <p class="text-left lead">Our mission is to provide access to the world’s most coveted items in the smartest way possible.</p>
                            <p class="text-left lead">We guarantee to provide you with sneakers that no one else has which will preserve value over time and make you very attractive.</p>
                            
                        </div>
                        <!-- <div class="col-md-5 order-md-2">
                            <img src="../public/img/about.svg" data-src="img/about.svg" alt=""
                                 class="img-fluid lazy">
            
                        </div> -->
					</div>
				</div>
				<!-- /row -->
			</div>
        </div>
			<!-- /container -->
            <footer class="section footer-classic context-dark bg-image" style="background: #343a40;">
                <div class="container">
                  <div class="row row-30 columns">
                    <div class="col-lg-6 col-xl-6">
                      <div class="pr-xl-4">
            
                            <!-- <h3 class="white-text">Quick Tweets</h3> -->
                            <h3>Quick Tweets</h3>
                            <div class="links" id="collapse_1">
                                <a class="twitter-timeline" data-width="450" data-height="200" data-dnt="true" data-theme="dark"
                                   href="https://twitter.com/StoreShoey?ref_src=twsrc%5Etfw">Tweets by StoreShoey</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                
                                </li>
                            </div>
                
                
            
                        <!-- Rights-->
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h5 class="white-text">Contacts</h5>
                      <dl class="contact-list">
                        <dt class="white-text">Address:</dt>
                        <dd class="white-text">Colman <br class="white-text">Rishon Le Zion - IL</dd>
                      </dl>
                      <dl class="contact-list">
                        <dt class="white-text">email:</dt>
                        <dd><a href="mailto:#">info@shoey.com</a></dd>
                      </dl>
                      <dl class="contact-list">
                        <dt class="white-text">phones:</dt>
                        <dd class="white-text">+972 52-8252-<strong>69</strong>9</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </footer>
	</main>
	<!--/main-->
	
	
	<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="../public/js/common_scripts.min.js"></script>
    <script src="../public/js/main.js"></script>
		
</body>
</html>
