<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shoey 2 colman</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="../public/css/carousel.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
</head>
<body>
<script src="../public/js/handlers/itemsHandler.js"></script>
<script src="../public/js/handlers/requestsHandler.js"></script>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand flip" href="/">Shoey</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../women">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/men">Men</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-primary" type="button"
                            onclick="window.location.href = '/items?searchText='+$('#searchInput').val()">Search
                    </button>
                </form>
                <button class="btn btn-outline-primary" type="button" onclick="window.location = '/login'">Login
                </button>

            </div>
        </div>
    </nav>
</header>

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="videowrapper">
                    <div id="fullScreenDiv">
                        <video id="video" role="presentation" preload="auto" playsinline="" crossorigin="anonymous"
                               loop="" muted="" autoplay="" class="blur">
                            <source src="../public/video/intro.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>


                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>The New You</h1>
                        <p>Greatness is not born, it is made.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div id="imgowrapper">
                    <div id="fullScreenDiv">
                        <img src="../public/img/black-friday.jpg" class="w3-round" alt="BlackFriday">
                    </div>
                </div>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Black Friday Sales </h1>
                        <p>Up to 60% of selected shoes and free shipping worthwide.</p>
                        <p>Coming on November 25th</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div id="videowrapper">
                    <div id="fullScreenDiv">
                        <video id="video" role="presentation" preload="auto" playsinline="" crossorigin="anonymous"
                               loop="" muted="" autoplay="" class="blur">
                            <source src="../public/video/jordan.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Comming Soon </h1>
                        <p>Air Jordan 2022 Release </p>
                        <p>Stay tuned on our twitter </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <!--            <div class="col-lg-4">-->
            <!--                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"-->
            <!--                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"-->
            <!--                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
            <!--                    <rect width="100%" height="100%" fill="#777"/>-->
            <!--                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>-->
            <!--                </svg>-->

            <!--                <h2 class="fw-normal">Heading</h2>-->
            <!--                <p>Some representative placeholder content for the three columns of text below the carousel. This is the-->
            <!--                    first column.</p>-->
            <!--                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
            <!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
            <!--            <div class="col-lg-4">-->
            <!--                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"-->
            <!--                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"-->
            <!--                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
            <!--                    <rect width="100%" height="100%" fill="#777"/>-->
            <!--                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>-->
            <!--                </svg>-->

            <!--                <h2 class="fw-normal">Heading</h2>-->
            <!--                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second-->
            <!--                    column.</p>-->
            <!--                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
            <!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
            <!--            <div class="col-lg-4">-->
            <!--                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"-->
            <!--                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"-->
            <!--                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
            <!--                    <rect width="100%" height="100%" fill="#777"/>-->
            <!--                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>-->
            <!--                </svg>-->

            <!--                <h2 class="fw-normal">Heading</h2>-->
            <!--                <p>And lastly this, the third column of representative placeholder content.</p>-->
            <!--                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
            <!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Best Sellers -  <span class="text-muted">Yeezy</span>
                </h2>
                <p class="lead">Our prices are going crazy, just like Kanye </p>
            </div>
            <div class="col-md-5">
                <img src="../public/img/lifestyle.svg" data-src="img/lifestyle.svg" alt=""
                     class="img-fluid lazy">

            </div>
        </div>

        <hr class="featurette-divider">


        <div class="album py-5 bg-light">
            <div class="container">

                <div id="featured-items-sec1" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>


        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">New Arrival  -  <span class="text-muted">Running shoes </span>
                </h2>
                <p class="lead">After All, If You Can Run Far Enough, No One Can Catch You </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../public/img/running.svg" data-src="img/lifestyle.svg" alt=""
                     class="img-fluid lazy">

            </div>
        </div>


        <div class="album py-5 bg-light">
            <div class="container">

                <div id="featured-items-sec2" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="col">-->
                    <!--                        <div class="card shadow-sm">-->
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                                <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                    <!--                            </svg>-->

                    <!--                            <div class="card-body">-->
                    <!--                                <p class="card-text">This is a wider card with supporting text below as a natural-->
                    <!--                                    lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--                                <div class="d-flex justify-content-between align-items-center">-->
                    <!--                                    <div class="btn-group">-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <!--                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    <!--                                    </div>-->
                    <!--                                    <small class="text-muted">9 mins</small>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>


        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                        class="text-muted">Making History</span></h2>
                <p class="lead">We don't know what kind of a shoe this is, but the colors are nice</p>
            </div>
            <div class="col-md-5">
                <img src="../public/img/football.svg" data-src="img/lifestyle.svg" alt=""
                     class="img-fluid lazy">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <footer class="section footer-classic context-dark bg-image" style="background: #343a40;">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-6 col-xl-6">
              <div class="pr-xl-4">
    
                    <!-- <h3 class="white-text">Quick Tweets</h3> -->
                    <h3>Quick Tweets</h3>
                    <div class="links" id="collapse_1">
                        <a class="twitter-timeline" data-width="450" data-height="200" data-dnt="true" data-theme="dark"
                           href="https://twitter.com/StoreShoey?ref_src=twsrc%5Etfw">Tweets by StoreShoey</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
                        </li>
                    </div>
        
        
    
                <!-- Rights-->
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="white-text">Contacts</h5>
              <dl class="contact-list">
                <dt class="white-text">Address:</dt>
                <dd class="white-text">Colman <br class="white-text">Rishon Le Zion - IL</dd>
              </dl>
              <dl class="contact-list">
                <dt class="white-text">email:</dt>
                <dd><a href="mailto:#">info@shoey.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt class="white-text">phones:</dt>
                <dd class="white-text">+972 52-8252-<strong>69</strong>9</dd>
              </dl>
            </div>
          </div>
        </div>
      </footer>
</main>


</body>
</html>
