main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.white-text {
    color: white;
}


h3 {
    color: skyblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .columns {
    column-count: 2;
    column-gap: 100px;
    column-rule: 1px solid lightblue;
    width: 100%;
  }

